.menu {
    display: flex;
    justify-content: space-around;
    background: rgba(30, 30, 30, 1);
    margin: 0 -16px;
}
.menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    position: relative;
}
.menuItem:hover {
    transform: scale(1.05);
}
.menuItem:active {
    transform: scale(0.95);
}
.menuTitle {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 2px;
    font-size: 10px;
    font-weight: 500;
}
.activeMenuTitle {
    color: rgba(255, 255, 255, 1);
}
.indicator {
    position: absolute;
    right: -30px;
    top: -10px;
    font-size: 10px;
    color: rgba(236, 189, 117, 1);
    background-color: rgba(236, 189, 117, 0.2);
    padding: 2px 6px;
    border-radius: 12px;
}